.centerer {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 500px) {
  .centerer {
    max-width: 960px;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .centerer {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .centerer {
    max-width: 1300px;
  }
  
}

